@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/*@import url("font-awesome.min.css");*/

:root {
	--main-font-color: gray;
	--main-link-color-focus: rgb(88, 88, 88);
	--main-link-color-hover: #000;
	--main-link-color-visited: rgb(88, 88, 88);
	--main-footer-color: lightgray;
}

body {
    font-family: 'Open Sans';
	margin: 0;
}

section {
	padding-bottom: 10vh;
  	padding-left: 1em;
}

section .skills {
	padding-bottom: 200px;
}

section .title {
	font-weight: bold;
}

.identification {
	display: flex;
	flex-flow: row;
	margin-top: 1rem;
	flex-direction: row;
}

.identification .principal {
	display: flex;
	flex-flow: row;
}

.identification .principal img {
	max-height: 10rem;
  	border-radius: 3rem;
}

.identification .principal .me {
	padding-left: 1rem;
}

.identification .principal .me .name {
	font-size: larger;
}

.identification .principal .me .profession {
	font-size: large;
}

.identification .contact {
	/*border: 1px dashed green;*/
	padding-left: 1em;
	margin-left: 2rem;
	margin-right: 1rem;
}

/**/
.identification .contact ul {
	display: grid;
	gap: 1rem;
	list-style-type: none;
	align-items: center;
  	justify-content: center;
}

.identification .contact ul li i {
	color: var(--main-font-color);
}

.identification .contact ul li i > a {
	color: var(--main-font-color);
	text-decoration: none;
}

.identification .contact ul li i > a:focus {
	color: var(--main-link-color-focus);
}

.identification .contact ul li i > a:hover {
	color: var(--main-link-color-hover);
}

.identification .contact ul li i > a:visited {
	color: var(--main-link-color-visited);
}
/**/

.experiences > .experience {
	margin-bottom: 2rem;
}

.experiences > .experience > .name {
	font-weight: bold;
}

footer {
	/*position: fixed;*/
	left: 0;
	bottom: 0;

	width: 100%;
	background-color: var(--main-footer-color);
}

footer .contact .header {
	color: var(--main-font-color);
	font-weight: bold;
	text-align: center;
}

footer .contact ul {
	display: grid;
	gap: 1rem;
	list-style-type: none;
	align-items: center;
  	justify-content: center;
}

footer .contact ul li i {
	color: var(--main-font-color);
}

footer .contact ul li i > a {
	color: var(--main-font-color);
	text-decoration: none;
}

footer .contact ul li i > a:focus {
	color: var(--main-link-color-focus);
}

footer .contact ul li i > a:hover {
	color: var(--main-link-color-hover);
}

footer .contact ul li i > a:visited {
	color: var(--main-link-color-visited);
}

footer .copyright {
	display: flex;
	list-style-type: none;
	align-items: center;
  	justify-content: center;
	color: var(--main-font-color);
}

footer .copyright > span {
	padding: 0 1rem 1rem 0;
}

/** Mobile devices **/
@media (max-width: 480px) {
	body {
		font-size: 1rem !important;
	}

	.identification {
		flex-direction: column;
	}

	.identification .principal img {
		max-height: 8rem;
		border-radius: 3rem;
	}

	.identification .contact {
		padding-left: 0;
		margin-left: 0;
		margin-right: 1rem;
	}

	.identification .contact ul {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	footer .contact ul {
		grid-template-columns: repeat(2, 1fr) !important
	}

	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** iPads, Tablets **/
@media (min-width: 481px) and  (max-width: 768px) {
	body {
		font-size: 1.1rem !important;
	}

	footer .contact ul {
		grid-template-columns: repeat(2, 1fr) !important
	}
	
	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** Small screens **/
@media (min-width: 769px) and  (max-width: 1024px) {
	body {
		font-size: 1.2rem !important;
	}

	footer .contact ul {
		grid-template-columns: repeat(3, 1fr) !important
	}

	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** Desktops, large screens **/
@media (min-width: 1025px) and  (max-width: 1200px) {
	body {
		font-size: 1.3rem !important;
	}

	.identification .principal .me .name {
		font-size: x-large;
	}

	.identification .principal .me .profession {
		font-size: large;
	}

	footer .contact ul {
		grid-template-columns: repeat(5, 1fr)!important;
	}

	footer .contact ul li i > a span {
		margin-left: 0.5rem;
	}
}

/** Extra large screens, TV **/
@media (min-width: 1201px) and  (max-width: 1600px) {
	body {
		font-size: 1.5rem !important;
	}

	.identification .principal .me .name {
		font-size: xx-large;
	}

	.identification .principal .me .profession {
		font-size: x-large;
	}

	footer .contact ul {
		grid-template-columns: repeat(5, 1fr)!important;
	}
}

/** Extra large screens, TV **/
@media (min-width: 1601px) {
	body {
		font-size: 2rem !important;
	}

	.identification .principal .me .name {
		font-size: xxx-large;
	}

	.identification .principal .me .profession {
		font-size: xx-large;
	}

	footer .contact ul {
		grid-template-columns: repeat(5, 1fr)!important;
	}
}
