<main class="main">
  <div class="content">
    <div class="left-side">
      <div id="identification">
        <img src="/assets/css/images/me.jpg">
        <a href="/">
          <span>Leandro Araújo</span>
        </a>
        <legend>Software Engineer & Software Architect</legend>
      </div>

      <app-social-links class="social-links"></app-social-links>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    
    <div class="right-side">
      See my professional profile <a href="/professional-profile" target="_blank">Here</a>
    </div>
  </div>
</main>

<router-outlet />
